#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    gap: 0;
}


#biggerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0
}

h1 {
    text-align: center;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    margin-top: 40px;
}